language: python
python:
  - "3.5"
  - "3.6"

install:
  - sudo apt-get install unzip
  - wget https://github.com/clusterlib/clusterlib/archive/master.zip
  - unzip master.zip
  - pushd clusterlib-master && python setup.py install && popd
  - pip install -r requirements.txt
  - pip install python-coveralls

env:
  matrix:
    - SCHEDULER="SLURM"


script: make test

after_success: coveralls
