language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install python-coveralls
  - source continuous_integration/install.sh

env:
  matrix:
    - SCHEDULER="SLURM"
    - SCHEDULER="NONE"

script: make test

after_success: coveralls
cache: apt
