dist: xenial

language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"

sudo: required

install:
  - pip install -r requirements.txt
  - pip install coverage==4.5.4 python-coveralls==2.9.2
  - source continuous_integration/install.sh

env:
  matrix:
    - SCHEDULER="SLURM"
    - SCHEDULER="NONE"

script: make test

after_success: coveralls
cache: apt
